#encoding UTF-8
#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe, but if your text is
## actually in Latin-1, then you should replace the string "UTF-8" with "latin-1"
## If you do this, you should also change the 'Content-Type' metadata below.
##
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">
    ## This choice should match the #encoding directive above
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>$station.location Monthly weather summary</title>
    <link rel="stylesheet" type="text/css" href="weewx.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script type="text/javascript">
      function openURL(urlname)
      {
        window.location=urlname;
      }
    </script>
  </head>

  <body>
    <div id="container">

#include "header.inc"

      <div id="stats_group">

        <div class="stats">
          <div class="stats_header">
            В Цьому Місяці
          </div>

          <table>
            <tbody>
              <tr>
                <td class="stats_label">
                  Найвижча Температура<br/>
                  Найнижча Температура
                </td>
                <td class="stats_data">
                  $month.outTemp.max від $month.outTemp.maxtime<br/>
                  $month.outTemp.min від $month.outTemp.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                Найвижчий Тепловий Індекс
                </td>
                <td class="stats_data">
                  $month.heatindex.max від $month.heatindex.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Найнижчий Температура Вітра
                </td>
                <td class="stats_data">
                  $month.windchill.min від $month.windchill.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Найвижча Вологість<br/>
                  Найнижча Вологість
                </td>
                <td class="stats_data">
                  $month.outHumidity.max $month.outHumidity.maxtime<br/>
                  $month.outHumidity.min $month.outHumidity.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Найвижча Точка Роси<br/>
                  Найнижча Точка Роси
                </td>
                <td class="stats_data">
                  $month.dewpoint.max $month.dewpoint.maxtime<br/>
                  $month.dewpoint.min $month.dewpoint.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Найвижчий Тиск<br/>
                  Найнижчий Тиск
                </td>
                <td class="stats_data">
                  $month.barometer.max від $month.barometer.maxtime<br/>
                  $month.barometer.min від $month.barometer.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                    Сумарна Кількість Опадів
                </td>
                <td class="stats_data">
                  $month.rain.sum
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Найбільша Кількість Опадів
                </td>
                <td class="stats_data">
                  $month.rainRate.max від $month.rainRate.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Найбільша Швидкість Вітру
                </td>
                <td class="stats_data">
                  $month.wind.max до $month.wind.gustdir від $month.wind.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Середній Вітер
                </td>
                <td class="stats_data">
                  $month.wind.avg
                </td>
              </tr>

              <tr>
                <td class="stats_label">
                    RMS Вітер
                </td>
                <td class="stats_data">
                  $month.wind.rms
                </td>
              </tr>

              <tr>
                <td class="stats_label">
                  Середній Напрям Швиидкості<br/>
                  Середній Вектор Напряму
                </td>
                <td class="stats_data">
                  $month.wind.vecavg<br/>
                  $month.wind.vecdir
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Найвижча Внутрішня Температура<br/>
                  Найнижча Внутрішня Температура
                </td>
                <td class="stats_data">
                  $month.inTemp.max від $month.inTemp.maxtime<br/>
                  $month.inTemp.min від $month.inTemp.mintime
                </td>
              </tr>
              #if $month.UV.has_data
              <tr>
                <td class="stats_label">
                  Найвижчий УФ-Індекс<br/>
                  Найнижчий УФ-Індекс
                </td>
                <td class="stats_data">
                  $month.UV.max від $month.UV.maxtime<br/>
                  $month.UV.min від $month.UV.mintime
                </td>
              </tr>
              #end if
              #if $month.ET.has_data and $month.ET.sum.raw > 0.0
              <tr>
                <td class="stats_label">
                  Найвижчий ET<br/>
                  Найнижчий ET
                </td>
                <td class="stats_data">
                  $month.ET.max від $month.ET.maxtime<br/>
                  $month.ET.min від $month.ET.mintime
                </td>
              </tr>
              #end if
              #if $month.radiation.has_data
              <tr>
                <td class="stats_label">
                  Найвижче Випромінювання<br/>
                  Найнижче Випромінювання
                </td>
                <td class="stats_data">
                  $month.radiation.max від $month.radiation.maxtime<br/>
                  $month.radiation.min від $month.radiation.mintime
                </td>
              </tr>
              #end if
            </tbody>
          </table>
        </div> <!-- End class "stats" -->

        <p>&nbsp;</p>

        <div class="stats">
          <div class="stats_header">
            В Цьому Році
          </div>

          <table>
            <tbody>
              <tr>
                <td class="stats_label">
                  Найвижча Температура<br/>
                  Найнижча Температура
                </td>
                <td class="stats_data">
                  $year.outTemp.max від $year.outTemp.maxtime<br/>
                  $year.outTemp.min від $year.outTemp.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                Найвижчий Тепловий Індекс
                </td>
                <td class="stats_data">
                  $year.heatindex.max від $year.heatindex.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Найнижчий Температура Вітра
                </td>
                <td class="stats_data">
                  $year.windchill.min від $year.windchill.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Найвижча Вологість<br/>
                  Найнижча Вологість
                </td>
                <td class="stats_data">
                  $year.outHumidity.max від $year.outHumidity.maxtime<br/>
                  $year.outHumidity.min від $year.outHumidity.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Найвижча Точка Роси<br/>
                  Найнижча Точка Роси
                </td>
                <td class="stats_data">
                  $year.dewpoint.max від $year.dewpoint.maxtime<br/>
                  $year.dewpoint.min від $year.dewpoint.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Найвижчий Тиск<br/>
                  Найнижчий Тиск
                </td>
                <td class="stats_data">
                  $year.barometer.max від $year.barometer.maxtime<br/>
                  $year.barometer.min від $year.barometer.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
              Сумарна Кількість Опадів
                </td>
                <td class="stats_data">
                  $year.rain.sum
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Найбільша Кількість Опадів
                </td>
                <td class="stats_data">
                  $year.rainRate.max від $year.rainRate.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Найбільша Швиткість Вітру
                </td>
                <td class="stats_data">
                  $year.wind.max до $year.wind.gustdir від $year.wind.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Середній Вітер
                </td>
                <td class="stats_data">
                  $year.wind.avg
                </td>
              </td>

              <tr>
                <td class="stats_label">
                    RMS Вітер
                </td>
                <td class="stats_data">
                  $year.wind.rms
                </td>
              </tr>

              <tr>
                <td class="stats_label">
                  Середній Напрям Швиидкості<br/>
                  Середній Вектор Напряму
                </td>
                <td class="stats_data">
                  $year.wind.vecavg<br/>
                  $year.wind.vecdir
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Найвижча Внутрішня Температура<br/>
                  Найнижча Внутрішня Температура
                </td>
                <td class="stats_data">
                  $year.inTemp.max від $year.inTemp.maxtime<br/>
                  $year.inTemp.min від $year.inTemp.mintime
                </td>
              </tr>
              #if $year.UV.has_data
              <tr>
                <td class="stats_label">
                  Найвижчий УФ-Індекс<br/>
                  Найнижчий УФ-Індекс
                </td>
                <td class="stats_data">
                  $year.UV.max від $year.UV.maxtime<br/>
                  $year.UV.min від $year.UV.mintime
                </td>
              </tr>
              #end if
              #if $year.ET.has_data and $year.ET.sum.raw >0.0
              <tr>
                <td class="stats_label">
                  Найвижчий ET<br/>
                  Найнижчий ET
                </td>
                <td class="stats_data">
                  $year.ET.max від $year.ET.maxtime<br/>
                  $year.ET.min від $year.ET.mintime
                </td>
              </tr>
              #end if
              #if $year.radiation.has_data
              <tr>
                <td class="stats_label">
                  Найвижче Випромінювання<br/>
                  Найнижче Випромінювання
                </td>
                <td class="stats_data">
                  $year.radiation.max від $year.radiation.maxtime<br/>
                  $year.radiation.min від $year.radiation.mintime
                </td>
              </tr>
              #end if
            </tbody>
          </table>
        </div> <!-- End class "stats" -->

      </div> <!-- End class "stats_group" -->

      <div id="content">

        <div class="header">
          <h3>Місячна Статистика і Графіки</h3>
        </div>
        <div id="plots">
          <img src="monthtempdew.png" alt="temperatures" />
          <img src="monthtempchill.png" alt="heatchill" />
          <img src="monthhumidity.png"  alt="outside humidity" />
          <img src="monthrain.png" alt="rain" />
          <img src="monthwind.png" alt="wind" />
          <img src="monthbarometer.png" alt="barometer"/>
          <img src="monthwinddir.png" alt="Hi Wind" />
          <img src="monthinside.png" alt="Inside" />
          <img src="monthwindvec.png" alt="Wind Vector" />
          #if $month.radiation.has_data
          <img src="monthradiation.png" alt="Radiation" />
          #end if
          #if $month.UV.has_data
          <img src="monthuv.png" alt="UV Index" />
          #end if
          #if $month.rxCheckPercent.has_data
          <img src="monthrx.png" alt="month rx percent"/>
          #end if
        </div>
      </div> <!-- End id "content" -->

      <div id="navbar">
        <input type="button" value="   Тепер   " onclick="openURL('history.html')" />
        <input type="button" value="   Тиждень   " onclick="openURL('week.html')" />
        <input type="button" value="   Місяць    " onclick="openURL('month.html')" />
        <input type="button" value="    Рік      " onclick="openURL('year.html')" />
      </div>
    </div> <!-- End id "container" -->

#include "foo.inc"

    ## Include the Google Analytics code if the user has supplied an ID:
    #if $Extras.has_key('googleAnalyticsId')
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try{
            var pageTracker = _gat._getTracker("$Extras.googleAnalyticsId");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
    #end if

  </body>
</html>
